@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div id="grid" style="position: absolute; opacity:0.4; min-width:100vw; min-height:80vh; background-position: center;background-repeat: no-repeat; background-blend-mode:hard-light">
        &nbsp;
    </div>
    <div style="position: absolute;">
        <div class="text-center">
            <h1 class="display-4">Sneacker of the day</h1>
            <h3 class="display-4">Statistic view</h3>
        </div>
        <p>
            The app collects sneakers from diffent sites stores its to database. Pictures can be shown like wallpapers and so on.<br/>
            The collected information contains: the name of good, link to page on original site, set of urls to images of good.<br/>
            The app consists of 3 undepended parts:
            <ul>
                <li>Sneackers Crowler who find and collects sneackers to DB. It's writen on Python and uses Selenium</li>
                <li>Database - MongoDB</li>
                <li>Statistic view web site. Here is it. The site shows the statistic of attempts to load and loaded sneackers</li>
                <li>The wallpaper for Windows and Android. Not ready</li>
            </ul>
        </p>
    </div>
</div>
@section scripts{
    <script>
        let loadImgFnk = () => {
            fetch('/?handler=RandomImg')
                .then((response) => {
                    return response.json();
                })
                .then((result) => {
                    document.getElementById('grid').style.backgroundImage = "url('" + result + "')";
                });
        };
        loadImgFnk();
        setInterval(
            loadImgFnk, 15000,
        );
    </script>
}
